<html>
    <head>
        <title>Freelancer</title>
    </head>
    <body>
        <div id="header">
            <h1>Freelancer</h1>
            <h5>Resilient offline freelancer management</h5>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            </ul>
        </nav>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
